@import "./variaveis";

.navbar2{
    background-color: $black;
    color: $white;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    // transition: ease-in-out 1s;
    .nav-container{
        // background-color: hotpink;
        width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $logo;
            font-weight: bold;
            text-transform: uppercase;
            height: 100%;
            line-height: 45px;
            gap: 10px;
            color: $white;
            img{
                width: 60px;
                // height: 50px;
                padding-bottom: 6px;
                // background-color: cyan;
                fill: $red;
            }
        }
        .nav-links{
            // background-color: green;
            display: flex;
            gap: 30px;
            align-items: center;
            li{
                a{
                    color: $white;
                }
                cursor: pointer;
                font-size: $menu;
                font-weight: bold;
                text-transform: uppercase;
                // border-bottom: 1px solid transparent;
                hr{
                    border: none;
                    height: 2px;
                    width: 0;
                    background-color: $red;
                }
                &:hover hr{
                    transition: .2s;
                    width: 100%;
                }
                i{
                    font-size: 35px;
                }
            }
            .nav-btn{
                background-color: $red;
                padding: 10px 30px;
                font-weight: bold;
                font-size: $menu;
                text-transform: uppercase;
                box-shadow: inset 0 0 0 0 $lightred;
                &:hover{
                    transition: ease-in 0.15s;
                    box-shadow: inset 250px 0 0 0 $lightred;
                }
            }
        }
    }
}