@import "./variaveis";

.header-principal{
    background-color: $black;
    overflow: hidden;
    width: 100%;
    height: 600px;
    color: $white;
    display: flex;
    justify-content: center;
    position: relative;
    &::after{
        content: '';
        width: 100%;
        border-left: 2560px solid transparent;
        border-bottom: 150px solid $white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .bg-container{
        height: 100%;
        width: 1400px;
        position: relative;
        display: flex;
        align-items: center;
        .bg-image{
            width: 100%;
            height: 100%;
            background-image: url('../img/background.png');
            background-size: 700px;
            background-position: 100% 30%;
            background-repeat: no-repeat;
        }
        .mascara-esquerda{
            width: 1000px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to right,$black 80%, transparent);
        }
        .mascara-direita{
            width: 130px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(to right,transparent ,$black 65%);
        }
        .bg-title{
            position: absolute;
            text-transform: uppercase;
            font-size: 130px;
            line-height: 95%;
            span{
                color: $red;
            }
        }
    }
    .header-container{
        // background-color: blue;
        width: 1400px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
        transition: ease-in-out .8s;
        &.sticky{
            width: 100%;
            background-color: $black;
            // height: 75px;
            padding: 0 20px;
        }
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $logo;
            font-weight: bold;
            text-transform: uppercase;
            height: 100%;
            line-height: 45px;
            gap: 10px;
            img{
                width: 60px;
                // height: 50px;
                padding-bottom: 6px;
                // background-color: cyan;
                fill: $red;
            }
        }
        .header-links{
            // background-color: green;
            display: flex;
            gap: 30px;
            align-items: center;
            li{
                a{
                    color: $white;
                }
                cursor: pointer;
                font-size: $menu;
                font-weight: bold;
                text-transform: uppercase;
                // border-bottom: 1px solid transparent;
                hr{
                    border: none;
                    height: 2px;
                    width: 0;
                    background-color: $red;
                }
                &:hover hr{
                    transition: .2s;
                    width: 100%;
                }
            }
            .header-btn{
                background-color: $red;
                padding: 10px 30px;
                font-weight: bold;
                font-size: $menu;
                text-transform: uppercase;
                box-shadow: inset 0 0 0 0 $lightred;
                &:hover{
                    transition: ease-in 0.3s;
                    box-shadow: inset 210px 0 0 0 $lightred;
                }
            }
        }
    }
}

.main-index{
    height: 100vh;
    width: 100%;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    // background-color: wheat;
}

.footer-principal{
    background-color: $black;
    width: 100%;
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
    .footer-container{
        // background-color: grey;
        height: 100%;
        width: 1400px;
        color: $white;
        padding: 35px 0;
        hr{
            border: none;
            background-color: $lightgrey;
            height: 1px;
            margin: 45px 0;
        }
        .footer-bottom{
            padding: 0 0 20px;
            // display: flex;
            // justify-content: space-between;
            p{
                font-size: $p;
                font-weight: lighter;
            }
            .footer-links{
                display: flex;
                gap: 10px;
                a{
                    color: $white;
                    font-size: $p;
                    &:hover{
                        transition: .5s;
                        color: $red;
                    }
                }
            }
        }
        .footer-grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 100px;
            .colunas{
                // background-color: blue;
                height: 100%;
                color: $white;
                .logo{
                    font-size: $h3;
                    text-transform: uppercase;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    gap: 5px;
                    // background-color: cyan;
                    img{
                        width: 37px;
                        padding-bottom: 4px;
                    }
                }
                .title{
                    font-size: $h3;
                    font-weight: 400;
                    margin-bottom: 25px;
                }
                p{
                    font-size: 16px;
                    color: $grey;
                    margin-bottom: 10px;
                }
                span{
                    display: inline-block;
                    color: $grey;
                    font-size: 16px;
                    i{
                        font-size: 25px;
                        margin-right: 20px;
                       
                    }
                }
            }
        }
    }
}