@import './variaveis';

.main-novo{
    // background-color: blue;
    width: calc(100% - 300px);
    height: calc(100vh - 70px);
    float: right;
    display: grid;
    grid-template-rows: 70px 1fr;
    .lista-header{
        background-color: $white;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dbdad9;
        h3{
            font-size: 32px;
            font-weight: 600;
        }
        a{
            color: $black;
        }
        i{
            font-size: 25px;
        }
    }
    .cadastra-container{
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        .cadastra-form{
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .input-box{
                // background-color: cyan;
                width: 500px;
                display: flex;
                flex-direction: column;
                font-size: 20px;
                text-transform: uppercase;
                input{
                    border: none;
                    background-color: $white;
                    border: 1px solid $black;
                    border-radius: 0;
                    height: 45px;
                    padding: 10px;
                    outline: none;
                }
                select{
                    background-color: $white;
                    border: 1px solid $black;
                    height: 45px;
                    padding: 0 10px;
                    outline: none;
                    font-size: 20px;
                 }
            }
            p{
                font-size: 20px;
                a{
                    color: $red;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .cadastrar-btn{
                background-color: $red;
                border: none;
                font-size: 20px;
                width: 100%;
                font-weight: bold;
                text-transform: uppercase;
                padding: 10px 15px;
                color: $white;
                cursor: pointer;
                &:hover{
                    transition: .3s;
                    // background-color: $lightred;
                    box-shadow: inset 500px 0 0 0 $lightred;
                }
            }
        }
    }
    &.aluno{
        .cadastra-container{
            .cadastra-form{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .cadastrar-btn{
                    grid-column: span 2;
                    &:hover{
                        box-shadow: inset 1200px 0 0 0 $lightred;
                    }
                }
            }
        }
    }
}