@import './variaveis';

.main-user{
    background-color: $lightgrey;
    height: calc(100vh - 70px);
    width: calc(100% - 300px);
    float: right;
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    // padding: 35px 45px;
    .dashboard{
        background-color: $white;
        height: 100%;
        width: 100%;
        // padding: 25px 45px;
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 80px 1fr;
        column-gap: 35px;
        .page-header{
            // background-color: green;
            grid-column: span 2;
            border-bottom: 1px solid #dbdad9;
            padding: 25px 50px;
            display: flex;
            align-items: center;
            .page-title{
                font-size: 32px;
                font-weight: 600;
                // text-transform: uppercase;
                color: $black;
            }
        }
        .profile-card{
            background-color: $white; 
            // box-shadow: 0 0 25px 1px $blackshadow;
            // border-radius: 25px;
            padding: 25px 15px;
            height: 100%;
            grid-row: span 2;
            .top{
                // background-color: maroon;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 15px;
                .user-pic{
                    background-color: #dbdad9;
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                }
                .user-info{
                    // background-color: mediumblue;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .name{
                        // background-color: mediumorchid;
                        font-size: $h3;
                        font-weight: 500;
                        line-height: 90%;
                        text-align: center;
                    }
                    .function{
                        // background-color: mediumpurple;
                        font-size: 16px;
                        font-weight: 400;
                        color: $text;
                    }
                }
                hr{
                    border: none;
                    width: 100%;
                    height: 1px;
                    background-color: #dbdad9;
                }
            }
        }
        .workout-card{
            background-color: $white;
            // box-shadow: 0 0 25px 1px $blackshadow;
            // border-radius: 25px;
            padding: 25px;
            // position: relative;
            .title{
                line-height: 100%;
                // background-color: blue;
                margin-bottom: 25px;
                font-size: 24px;
            }
            .exercise-card{
                // background-color: mediumvioletred;
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left{
                    // background-color: mediumaquamarine;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .img{
                        width: 80px;
                        height: 50px;
                        background-color: #dbdad9;
                        border-radius: 10px;
                    }
                    .exe-name{
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                .right{
                    // background-color: darkolivegreen;
                    color: #b1b1b1;
                }
            }
            hr{
                // position: ;
                // width: 100%;
                // left: 0;
                border: none;
                height: 1px;
                background-color: #dbdad9;
                // margin: 10px 0;
            }
        }
        .progress-card{
            background-color: $red;
            // box-shadow: 0 0 25px 1px $blackshadow;
            // border-radius: 25px;
        }
    }
}
