//* ======== CORES ========
$red: #E73539;
$lightred: #ff4f51;
$black: #000;
$grey: #434343;
$lightgrey: #E8E7E8;
$white: #FFF;

//* ======== FONTE ========

$h1: 52px;
$h3: 28px;
$menu: 20px;
$logo: 40px;
$p: 24px;