//* ======== CORES ========
$red: #E73539;
$lightred: #ff4f51;
$black: #000;
$grey: #434343;
$lightgrey: #E8E7E8;
$white: #FFF;
$gradient: linear-gradient(to bottom right, #1b1b1b, #0f0f0f);
$blackshadow: #0000001a;
$text: #b6b6b6;
$userbg: #181b1b;
//* ======== FONTE ========

$h1: 52px;
$h2: 56px;
$h3: 28px;
$menu: 20px;
$logo: 40px;
$p: 24px;