@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #E8E7E8;
}

.wrapper {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.header-principal {
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 600px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-principal::after {
  content: "";
  width: 100%;
  border-left: 2560px solid transparent;
  border-bottom: 150px solid #E8E7E8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-principal .bg-container {
  height: 100%;
  width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
}
.header-principal .bg-container .bg-image {
  width: 100%;
  height: 100%;
  background-image: url("../img/background.png");
  background-size: 700px;
  background-position: 110% 30%;
  background-repeat: no-repeat;
}
.header-principal .bg-container .mascara-esquerda {
  width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000 80%, transparent);
}
.header-principal .bg-container .mascara-direita {
  width: 130px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, transparent, #000 65%);
}
.header-principal .bg-container .bg-title {
  position: absolute;
  text-transform: uppercase;
  font-size: 130px;
  line-height: 95%;
}
.header-principal .bg-container .bg-title span {
  color: #E73539;
}
.header-principal .navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: ease-in 0.5s;
}
.header-principal .navbar.sticky {
  box-shadow: inset 0 100px 0 0 #000;
  height: 75px;
}
.header-principal .navbar .nav-container {
  transition: 1s;
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header-principal .navbar .nav-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  line-height: 45px;
  gap: 10px;
  color: #FFF;
}
.header-principal .navbar .nav-container .logo img {
  width: 60px;
  padding-bottom: 6px;
  fill: #E73539;
}
.header-principal .navbar .nav-container .nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-principal .navbar .nav-container .nav-links li {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-principal .navbar .nav-container .nav-links li a {
  color: #FFF;
}
.header-principal .navbar .nav-container .nav-links li hr {
  border: none;
  height: 2px;
  width: 0;
  background-color: #E73539;
}
.header-principal .navbar .nav-container .nav-links li:hover hr {
  transition: 0.2s;
  width: 100%;
}
.header-principal .navbar .nav-container .nav-links li i {
  font-size: 35px;
}
.header-principal .navbar .nav-container .nav-links .nav-btn {
  background-color: #E73539;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 0 #ff4f51;
}
.header-principal .navbar .nav-container .nav-links .nav-btn:hover {
  transition: ease-in 0.15s;
  box-shadow: inset 250px 0 0 0 #ff4f51;
}

.main-index {
  width: 100%;
}
.main-index .about {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-index .about .about-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: 500px;
  justify-content: space-between;
}
.main-index .about .about-container .about-img {
  background-color: grey;
  overflow: hidden;
}
.main-index .about .about-container .about-img img {
  width: 100%;
}
.main-index .about .about-container .about-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.main-index .about .about-container .about-text h2 {
  font-size: 56px;
  line-height: 95%;
  border-left: 5px solid #E73539;
  padding-left: 15px;
}
.main-index .about .about-container .about-text .text {
  font-size: 20px;
}
.main-index .about .about-container .about-text .about-btn {
  background-color: #E73539;
  padding: 10px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  box-shadow: inset 0 0 0 0 #ff4f51;
}
.main-index .about .about-container .about-text .about-btn:hover {
  transition: ease-in 0.1s;
  box-shadow: inset 150px 0 0 0 #ff4f51;
}
.main-index .infos {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1019607843);
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.main-index .infos .wrapper {
  display: flex;
  align-items: center;
}
.main-index .infos .wrapper .infos-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-between;
}
.main-index .infos .wrapper .infos-container .colunas .info-header {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-bottom: 5px;
}
.main-index .infos .wrapper .infos-container .colunas .info-header i {
  font-size: 45px;
  align-self: center;
}
.main-index .infos .wrapper .infos-container .colunas .info-header h3 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
  border-left: 5px solid #E73539;
}
.main-index .infos .wrapper .infos-container .colunas p {
  font-size: 20px;
}
.main-index .division {
  height: 100px;
  width: 100%;
}

.footer-principal {
  background-color: #000;
  width: 100%;
  position: static;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.footer-principal .footer-container {
  height: 100%;
  width: 1200px;
  color: #FFF;
  padding: 35px 0;
}
.footer-principal .footer-container hr {
  border: none;
  background-color: #E8E7E8;
  height: 1px;
  margin: 45px 0;
}
.footer-principal .footer-container .footer-bottom {
  padding: 0 0 20px;
}
.footer-principal .footer-container .footer-bottom p {
  font-size: 24px;
  font-weight: lighter;
}
.footer-principal .footer-container .footer-bottom .footer-links {
  display: flex;
  gap: 10px;
}
.footer-principal .footer-container .footer-bottom .footer-links a {
  color: #FFF;
  font-size: 24px;
}
.footer-principal .footer-container .footer-bottom .footer-links a:hover {
  transition: 0.5s;
  color: #E73539;
}
.footer-principal .footer-container .footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
.footer-principal .footer-container .footer-grid .colunas {
  height: 100%;
  color: #FFF;
}
.footer-principal .footer-container .footer-grid .colunas .logo {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 5px;
}
.footer-principal .footer-container .footer-grid .colunas .logo img {
  width: 37px;
  padding-bottom: 4px;
}
.footer-principal .footer-container .footer-grid .colunas .title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}
.footer-principal .footer-container .footer-grid .colunas p {
  font-size: 16px;
  color: #434343;
  margin-bottom: 10px;
}
.footer-principal .footer-container .footer-grid .colunas span {
  display: inline-block;
  color: #434343;
  font-size: 16px;
}
.footer-principal .footer-container .footer-grid .colunas span i {
  font-size: 25px;
  margin-right: 20px;
}

.navbar2 {
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbar2 .nav-container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar2 .nav-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  line-height: 45px;
  gap: 10px;
  color: #FFF;
}
.navbar2 .nav-container .logo img {
  width: 60px;
  padding-bottom: 6px;
  fill: #E73539;
}
.navbar2 .nav-container .nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar2 .nav-container .nav-links li {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar2 .nav-container .nav-links li a {
  color: #FFF;
}
.navbar2 .nav-container .nav-links li hr {
  border: none;
  height: 2px;
  width: 0;
  background-color: #E73539;
}
.navbar2 .nav-container .nav-links li:hover hr {
  transition: 0.2s;
  width: 100%;
}
.navbar2 .nav-container .nav-links li i {
  font-size: 35px;
}
.navbar2 .nav-container .nav-links .nav-btn {
  background-color: #E73539;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 0 #ff4f51;
}
.navbar2 .nav-container .nav-links .nav-btn:hover {
  transition: ease-in 0.15s;
  box-shadow: inset 250px 0 0 0 #ff4f51;
}

.main-cadastra {
  height: 100vh;
  padding-top: 75px;
  display: flex;
  justify-content: center;
}
.main-cadastra .cadastra-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cadastra .cadastra-container .cadastra-form {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-cadastra .cadastra-container .cadastra-form .input-box {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
}
.main-cadastra .cadastra-container .cadastra-form .input-box input {
  border: none;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0;
  height: 45px;
  padding: 10px;
  outline: none;
}
.main-cadastra .cadastra-container .cadastra-form p {
  font-size: 20px;
}
.main-cadastra .cadastra-container .cadastra-form p a {
  color: #E73539;
  font-weight: 600;
  cursor: pointer;
}
.main-cadastra .cadastra-container .cadastra-form .cadastrar-btn {
  background-color: #E73539;
  border: none;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #FFF;
  cursor: pointer;
}
.main-cadastra .cadastra-container .cadastra-form .cadastrar-btn:hover {
  transition: 0.3s;
  box-shadow: inset 500px 0 0 0 #ff4f51;
}
.main-cadastra .cadastra-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-cadastra .cadastra-container .login-form .input-box {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
}
.main-cadastra .cadastra-container .login-form .input-box input {
  border: none;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0;
  height: 45px;
  padding: 10px;
  outline: none;
}
.main-cadastra .cadastra-container .login-form p {
  font-size: 20px;
}
.main-cadastra .cadastra-container .login-form p a {
  color: #E73539;
  font-weight: 600;
  cursor: pointer;
}
.main-cadastra .cadastra-container .login-form .login-btn {
  background-color: #E73539;
  border: none;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #FFF;
  cursor: pointer;
}
.main-cadastra .cadastra-container .login-form .login-btn:hover {
  transition: 0.3s;
  box-shadow: inset 500px 0 0 0 #ff4f51;
}

.main-user {
  background-color: #E8E7E8;
  height: 100vh;
  width: calc(100% - 300px);
  float: right;
  position: relative;
}

.user-nav {
  background: linear-gradient(to bottom right, #1b1b1b, #0f0f0f);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1019607843);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding: 150px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}
.user-nav .logo {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 45px;
  gap: 10px;
  color: #FFF;
  margin: 20px 35px;
}
.user-nav .logo img {
  width: 60px;
  padding-bottom: 6px;
}
.user-nav .nav-options .title {
  font-size: 18px;
  font-weight: bold;
  padding: 0 40px;
  color: #E73539;
}
.user-nav .nav-options .nav-list li a {
  font-size: 20px;
  font-weight: 400;
  padding: 8px 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #b8b8b8;
}
.user-nav .nav-options .nav-list li a:hover {
  background-color: #434343;
  color: #FFF;
  border-right: 2px solid #E73539;
}
.user-nav .nav-bottom {
  padding: 0 40px;
}
.user-nav .nav-bottom hr {
  border: none;
  background-color: #b8b8b8;
  height: 1px;
  margin: 10px 0;
}
.user-nav .nav-bottom a {
  color: #b8b8b8;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-nav .nav-bottom a:hover {
  color: #FFF;
}

.main-videos {
  height: 100vh;
  padding-top: 75px;
}
.main-videos .videos-container {
  height: 100%;
  padding: 35px 0;
}
.main-videos .videos-container h1 {
  font-size: 32px;
  text-transform: uppercase;
}
.main-videos .videos-container hr {
  border: none;
  background-color: #000;
  height: 1px;
  margin: 10px 0 20px;
}
.main-videos .videos-container .videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.main-videos .videos-container .videos-grid .video-frame .video {
  border-radius: 5px;
  height: 210px;
  width: 380px;
  overflow: hidden;
}
.main-videos .videos-container .videos-grid .video-frame h3 {
  font-size: 24px;
  font-weight: normal;
}/*# sourceMappingURL=style.css.map */