@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #E8E7E8;
}

.wrapper {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.header-principal {
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 600px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-principal::after {
  content: "";
  width: 100%;
  border-left: 2560px solid transparent;
  border-bottom: 150px solid #E8E7E8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-principal .bg-container {
  height: 100%;
  width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
}
.header-principal .bg-container .bg-image {
  width: 100%;
  height: 100%;
  background-image: url("../img/background.png");
  background-size: 700px;
  background-position: 110% 30%;
  background-repeat: no-repeat;
}
.header-principal .bg-container .mascara-esquerda {
  width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000 80%, transparent);
}
.header-principal .bg-container .mascara-direita {
  width: 130px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, transparent, #000 65%);
}
.header-principal .bg-container .bg-title {
  position: absolute;
  text-transform: uppercase;
  font-size: 130px;
  line-height: 95%;
}
.header-principal .bg-container .bg-title span {
  color: #E73539;
}
.header-principal .navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: ease-in 0.5s;
}
.header-principal .navbar.sticky {
  box-shadow: inset 0 100px 0 0 #000;
  height: 75px;
}
.header-principal .navbar .nav-container {
  transition: 1s;
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header-principal .navbar .nav-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  line-height: 45px;
  gap: 10px;
  color: #FFF;
}
.header-principal .navbar .nav-container .logo img {
  width: 60px;
  padding-bottom: 6px;
  fill: #E73539;
}
.header-principal .navbar .nav-container .nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-principal .navbar .nav-container .nav-links li {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-principal .navbar .nav-container .nav-links li a {
  color: #FFF;
}
.header-principal .navbar .nav-container .nav-links li hr {
  border: none;
  height: 2px;
  width: 0;
  background-color: #E73539;
}
.header-principal .navbar .nav-container .nav-links li:hover hr {
  transition: 0.2s;
  width: 100%;
}
.header-principal .navbar .nav-container .nav-links li i {
  font-size: 35px;
}
.header-principal .navbar .nav-container .nav-links .nav-btn {
  background-color: #E73539;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 0 #ff4f51;
}
.header-principal .navbar .nav-container .nav-links .nav-btn:hover {
  transition: ease-in 0.15s;
  box-shadow: inset 250px 0 0 0 #ff4f51;
}

.main-index {
  width: 100%;
}
.main-index .about {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-index .about .about-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: 500px;
  justify-content: space-between;
}
.main-index .about .about-container .about-img {
  background-color: grey;
  overflow: hidden;
}
.main-index .about .about-container .about-img img {
  width: 100%;
}
.main-index .about .about-container .about-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.main-index .about .about-container .about-text h2 {
  font-size: 56px;
  line-height: 95%;
  border-left: 5px solid #E73539;
  padding-left: 15px;
}
.main-index .about .about-container .about-text .text {
  font-size: 20px;
}
.main-index .about .about-container .about-text .about-btn {
  background-color: #E73539;
  padding: 10px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  box-shadow: inset 0 0 0 0 #ff4f51;
}
.main-index .about .about-container .about-text .about-btn:hover {
  transition: ease-in 0.1s;
  box-shadow: inset 150px 0 0 0 #ff4f51;
}
.main-index .infos {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1019607843);
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.main-index .infos .wrapper {
  display: flex;
  align-items: center;
}
.main-index .infos .wrapper .infos-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-between;
}
.main-index .infos .wrapper .infos-container .colunas .info-header {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-bottom: 5px;
}
.main-index .infos .wrapper .infos-container .colunas .info-header i {
  font-size: 45px;
  align-self: center;
}
.main-index .infos .wrapper .infos-container .colunas .info-header h3 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
  border-left: 5px solid #E73539;
}
.main-index .infos .wrapper .infos-container .colunas p {
  font-size: 20px;
}
.main-index .division {
  height: 100px;
  width: 100%;
}

.footer-principal {
  background-color: #000;
  width: 100%;
  position: static;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.footer-principal .footer-container {
  height: 100%;
  width: 1200px;
  color: #FFF;
  padding: 35px 0;
}
.footer-principal .footer-container hr {
  border: none;
  background-color: #E8E7E8;
  height: 1px;
  margin: 45px 0;
}
.footer-principal .footer-container .footer-bottom {
  padding: 0 0 20px;
}
.footer-principal .footer-container .footer-bottom p {
  font-size: 24px;
  font-weight: lighter;
}
.footer-principal .footer-container .footer-bottom .footer-links {
  display: flex;
  gap: 10px;
}
.footer-principal .footer-container .footer-bottom .footer-links a {
  color: #FFF;
  font-size: 24px;
}
.footer-principal .footer-container .footer-bottom .footer-links a:hover {
  transition: 0.5s;
  color: #E73539;
}
.footer-principal .footer-container .footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
.footer-principal .footer-container .footer-grid .colunas {
  height: 100%;
  color: #FFF;
}
.footer-principal .footer-container .footer-grid .colunas .logo {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 5px;
}
.footer-principal .footer-container .footer-grid .colunas .logo img {
  width: 37px;
  padding-bottom: 4px;
}
.footer-principal .footer-container .footer-grid .colunas .title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}
.footer-principal .footer-container .footer-grid .colunas p {
  font-size: 16px;
  color: #434343;
  margin-bottom: 10px;
}
.footer-principal .footer-container .footer-grid .colunas span {
  display: inline-block;
  color: #434343;
  font-size: 16px;
}
.footer-principal .footer-container .footer-grid .colunas span i {
  font-size: 25px;
  margin-right: 20px;
}

.navbar2 {
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbar2 .nav-container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar2 .nav-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  line-height: 45px;
  gap: 10px;
  color: #FFF;
}
.navbar2 .nav-container .logo img {
  width: 60px;
  padding-bottom: 6px;
  fill: #E73539;
}
.navbar2 .nav-container .nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar2 .nav-container .nav-links li {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar2 .nav-container .nav-links li a {
  color: #FFF;
}
.navbar2 .nav-container .nav-links li hr {
  border: none;
  height: 2px;
  width: 0;
  background-color: #E73539;
}
.navbar2 .nav-container .nav-links li:hover hr {
  transition: 0.2s;
  width: 100%;
}
.navbar2 .nav-container .nav-links li i {
  font-size: 35px;
}
.navbar2 .nav-container .nav-links .nav-btn {
  background-color: #E73539;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 0 #ff4f51;
}
.navbar2 .nav-container .nav-links .nav-btn:hover {
  transition: ease-in 0.15s;
  box-shadow: inset 250px 0 0 0 #ff4f51;
}

.main-cadastra {
  height: 100vh;
  padding-top: 75px;
  display: flex;
  justify-content: center;
}
.main-cadastra .cadastra-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cadastra .cadastra-container .cadastra-form {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-cadastra .cadastra-container .cadastra-form .input-box {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
}
.main-cadastra .cadastra-container .cadastra-form .input-box input {
  border: none;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0;
  height: 45px;
  padding: 10px;
  outline: none;
}
.main-cadastra .cadastra-container .cadastra-form p {
  font-size: 20px;
}
.main-cadastra .cadastra-container .cadastra-form p a {
  color: #E73539;
  font-weight: 600;
  cursor: pointer;
}
.main-cadastra .cadastra-container .cadastra-form .cadastrar-btn {
  background-color: #E73539;
  border: none;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #FFF;
  cursor: pointer;
}
.main-cadastra .cadastra-container .cadastra-form .cadastrar-btn:hover {
  transition: 0.3s;
  box-shadow: inset 500px 0 0 0 #ff4f51;
}
.main-cadastra .cadastra-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-cadastra .cadastra-container .login-form .input-box {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
}
.main-cadastra .cadastra-container .login-form .input-box input {
  border: none;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0;
  height: 45px;
  padding: 10px;
  outline: none;
}
.main-cadastra .cadastra-container .login-form p {
  font-size: 20px;
}
.main-cadastra .cadastra-container .login-form p a {
  color: #E73539;
  font-weight: 600;
  cursor: pointer;
}
.main-cadastra .cadastra-container .login-form .login-btn {
  background-color: #E73539;
  border: none;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #FFF;
  cursor: pointer;
}
.main-cadastra .cadastra-container .login-form .login-btn:hover {
  transition: 0.3s;
  box-shadow: inset 500px 0 0 0 #ff4f51;
}

.main-cadastraaluno {
  height: 100vh;
  padding-top: 75px;
  display: flex;
  justify-content: center;
}
.main-cadastraaluno .cadastra-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cadastraaluno .cadastra-container .cadastra-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-cadastraaluno .cadastra-container .cadastra-form .input-box {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
}
.main-cadastraaluno .cadastra-container .cadastra-form .input-box input {
  border: none;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0;
  height: 45px;
  padding: 10px;
  outline: none;
  font-size: 20px;
}
.main-cadastraaluno .cadastra-container .cadastra-form .input-box select {
  background-color: #FFF;
  border: 1px solid #000;
  height: 45px;
  padding: 0 10px;
  outline: none;
  font-size: 20px;
}
.main-cadastraaluno .cadastra-container .cadastra-form p {
  font-size: 20px;
}
.main-cadastraaluno .cadastra-container .cadastra-form p a {
  color: #E73539;
  font-weight: 600;
  cursor: pointer;
}
.main-cadastraaluno .cadastra-container .cadastra-form .cadastrar-btn {
  background-color: #E73539;
  border: none;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #FFF;
  cursor: pointer;
}
.main-cadastraaluno .cadastra-container .cadastra-form .cadastrar-btn:hover {
  transition: 0.3s;
  box-shadow: inset 500px 0 0 0 #ff4f51;
}

.main-user {
  background-color: #E8E7E8;
  height: calc(100vh - 70px);
  width: calc(100% - 300px);
  float: right;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.main-user .dashboard {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 80px 1fr 200px;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.main-user .dashboard .page-header {
  grid-column: span 2;
  border-bottom: 1px solid #dbdad9;
  padding: 25px 50px;
  display: flex;
  align-items: center;
}
.main-user .dashboard .page-header .page-title {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}
.main-user .dashboard .profile-card {
  background-color: #FFF;
  padding: 25px 15px;
  height: 100%;
  grid-row: span 2;
}
.main-user .dashboard .profile-card .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.main-user .dashboard .profile-card .top .user-pic {
  background-color: #dbdad9;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.main-user .dashboard .profile-card .top .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-user .dashboard .profile-card .top .user-info .name {
  font-size: 28px;
  font-weight: 500;
  line-height: 90%;
  text-align: center;
}
.main-user .dashboard .profile-card .top .user-info .function {
  font-size: 16px;
  font-weight: 400;
  color: #b6b6b6;
}
.main-user .dashboard .profile-card .top hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: #dbdad9;
}
.main-user .dashboard .workout-card {
  background-color: #FFF;
  padding: 25px;
}
.main-user .dashboard .workout-card .title {
  line-height: 100%;
  margin-bottom: 25px;
  font-size: 24px;
}
.main-user .dashboard .workout-card .exercise-card {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-user .dashboard .workout-card .exercise-card .left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-user .dashboard .workout-card .exercise-card .left .img {
  width: 80px;
  height: 50px;
  background-color: #dbdad9;
  border-radius: 10px;
}
.main-user .dashboard .workout-card .exercise-card .left .exe-name {
  font-size: 18px;
  font-weight: 500;
}
.main-user .dashboard .workout-card .exercise-card .right {
  color: #b1b1b1;
}
.main-user .dashboard .workout-card hr {
  border: none;
  height: 1px;
  background-color: #dbdad9;
}
.main-user .dashboard .progress-card {
  background-color: #E73539;
}

.main-videos {
  height: 100vh;
  padding-top: 75px;
}
.main-videos .videos-container {
  height: 100%;
  padding: 35px 0;
}
.main-videos .videos-container h1 {
  font-size: 32px;
  text-transform: uppercase;
}
.main-videos .videos-container hr {
  border: none;
  background-color: #000;
  height: 1px;
  margin: 10px 0 20px;
}
.main-videos .videos-container .videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.main-videos .videos-container .videos-grid .video-frame .video {
  border-radius: 5px;
  height: 210px;
  width: 380px;
  overflow: hidden;
}
.main-videos .videos-container .videos-grid .video-frame h3 {
  font-size: 24px;
  font-weight: normal;
}

.user-header {
  background: #181b1b;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.user-header .user-header-list {
  display: flex;
  gap: 15px;
  align-items: center;
  transition: 0.3s;
}
.user-header .user-header-list li {
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  height: 40px;
  padding: 10px 5px;
  display: flex;
  background-color: #101212;
}
.user-header .user-header-list .navigation a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 5px;
  color: #FFF;
}
.user-header .user-header-list .dropdown {
  position: relative;
}
.user-header .user-header-list .dropdown .top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-header .user-header-list .dropdown .top .img {
  height: 30px;
  width: 30px;
  background-color: #434343;
  border-radius: 5px;
}
.user-header .user-header-list .dropdown .top i {
  transition: 0.3s;
}
.user-header .user-header-list .dropdown .dropdown-content {
  background-color: #101212;
  display: flex;
  position: absolute;
  height: 0;
  overflow: hidden;
  width: 100%;
  left: 0;
  top: 40;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.3s;
}
.user-header .user-header-list .dropdown .dropdown-content.open {
  height: 200px;
  padding: 10px;
}
.user-header .user-header-list .dropdown .dropdown-content a {
  color: #FFF;
}
.user-header .user-header-list .close-btn {
  display: none;
  cursor: pointer;
  padding: 0 15px;
}
.user-header .user-header-list .close-btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.user-header .user-header-list .close-btn button {
  background: none;
  border: none;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
}
.user-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  gap: 10px;
  color: #FFF;
}
.user-header .logo img {
  width: 60px;
  padding-bottom: 6px;
}

.user-nav {
  background: #181b1b;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: calc(100vh - 70px);
  padding: 30px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}
.user-nav .nav-options .title {
  font-size: 18px;
  font-weight: bold;
  padding: 0 40px;
  color: #E73539;
}
.user-nav .nav-options .nav-list li a {
  font-size: 20px;
  font-weight: 400;
  padding: 8px 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #b8b8b8;
}
.user-nav .nav-options .nav-list li a:hover {
  background-color: #434343;
  color: #FFF;
  border-right: 2px solid #E73539;
}
.user-nav .nav-bottom {
  padding: 0 40px;
}
.user-nav .nav-bottom hr {
  border: none;
  background-color: #b8b8b8;
  height: 1px;
  margin: 10px 0;
}
.user-nav .nav-bottom a {
  color: #b8b8b8;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-nav .nav-bottom a:hover {
  color: #FFF;
}

.main-profile {
  background-color: #E8E7E8;
  height: calc(100vh - 70px);
  width: calc(100% - 300px);
  float: right;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-profile .perfil-container {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  -moz-column-gap: 35px;
       column-gap: 35px;
  overflow: hidden;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1019607843);
}
.main-profile .perfil-container .page-header {
  grid-column: span 2;
  border-bottom: 1px solid #dbdad9;
  padding: 25px 50px;
  display: flex;
  align-items: center;
}
.main-profile .perfil-container .page-header .page-title {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}
.main-profile .perfil-container .profile-card {
  padding: 25px 15px;
  height: 100%;
  grid-row: span 2;
}
.main-profile .perfil-container .profile-card .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.main-profile .perfil-container .profile-card .top .user-pic {
  background-color: #dbdad9;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.main-profile .perfil-container .profile-card .top .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-profile .perfil-container .profile-card .top .user-info .name {
  font-size: 28px;
  font-weight: 500;
  line-height: 90%;
  text-align: center;
}
.main-profile .perfil-container .profile-card .top .user-info .function {
  font-size: 16px;
  font-weight: 400;
  color: #b6b6b6;
}
.main-profile .perfil-container .profile-card .top hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: #dbdad9;
}
.main-profile .perfil-container .profile-infos .title {
  font-size: 20px;
  color: #E73539;
  font-weight: 700;
  margin: 15px 0 35px;
}
.main-profile .perfil-container .profile-infos .profile-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 25px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 10px;
}
.main-profile .perfil-container .profile-infos .profile-form hr {
  border: none;
  height: 1px;
  background-color: #dbdad9;
}
.main-profile .perfil-container .profile-infos .profile-form .input-box {
  display: flex;
  flex-direction: column;
}
.main-profile .perfil-container .profile-infos .profile-form .input-box label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #b6b6b6;
}
.main-profile .perfil-container .profile-infos .profile-form .input-box label hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #dbdad9;
  float: right;
}
.main-profile .perfil-container .profile-infos .profile-form .input-box input {
  border: none;
  background: none;
  height: 30px;
  outline: none;
  font-size: 18px;
}
.main-profile .perfil-container .profile-infos .profile-form .input-box .readonly {
  color: #888888;
}
.main-profile .perfil-container .profile-infos .profile-form #last-hr {
  grid-column: span 2;
  margin: 10px 0;
}
.main-profile .perfil-container .profile-infos .profile-form .form-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  grid-column: span 2;
  align-self: center;
  margin: 20px 0;
}
.main-profile .perfil-container .profile-infos .profile-form .form-btns .btn {
  padding: 10px 10px;
  border: 1px solid #E73539;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.main-profile .perfil-container .profile-infos .profile-form .form-btns .btn.discard {
  color: #E73539;
  background-color: #FFF;
}
.main-profile .perfil-container .profile-infos .profile-form .form-btns .btn.discard:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 700px 0 0 0 #E8E7E8;
}
.main-profile .perfil-container .profile-infos .profile-form .form-btns .btn.save {
  background-color: #E73539;
  color: #FFF;
}
.main-profile .perfil-container .profile-infos .profile-form .form-btns .btn.save:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 700px 0 0 0 #ff4f51;
}

.main-treinos {
  height: calc(100vh - 70px);
  width: calc(100% - 300px);
  float: right;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-treinos .treinos-container {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
}
.main-treinos .treinos-container .page-header {
  border-bottom: 1px solid #dbdad9;
  padding: 25px 50px;
  display: flex;
  align-items: center;
}
.main-treinos .treinos-container .page-header .page-title {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}
.main-treinos .treinos-container .workout-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
  padding: 25px 50px;
}
.main-treinos .treinos-container .workout-container .workout-card {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3px;
  border: 1px solid #b1b1b1;
  padding: 15px;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos .level {
  color: #b1b1b1;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos .btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos .btns .btn {
  width: 100%;
  background: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos .btns .btn.see {
  border: 1px solid #E73539;
  color: #E73539;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos .btns .btn.see:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 350px 0 0 0 #E8E7E8;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos .btns .btn.complete {
  background-color: #E73539;
  color: #FFF;
}
.main-treinos .treinos-container .workout-container .workout-card .card-infos .btns .btn.complete:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 350px 0 0 0 #ff4f51;
}
.main-treinos .treinos-container .workout-list {
  background-color: #181b1b;
  position: absolute;
  right: 0;
  height: calc(100vh - 70px);
  width: 0;
  overflow: hidden;
  transition: 0.3s;
}
.main-treinos .treinos-container .workout-list.open {
  width: 400px;
}
.main-treinos .treinos-container .workout-list .exercise-card {
  color: #FFF;
  margin: 25px 35px;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-treinos .treinos-container .workout-list .exercise-card .left {
  display: flex;
  flex-direction: column;
}
.main-treinos .treinos-container .workout-list .exercise-card .left .exe-name {
  font-size: 20px;
}
.main-treinos .treinos-container .workout-list .exercise-card .left .exe-reps {
  font-size: 14px;
  font-weight: 100;
  color: #b6b6b6;
}
.main-treinos .treinos-container .workout-list .exercise-card .right {
  font-size: 24px;
}

.main-lista {
  background-color: #FFF;
  width: calc(100% - 300px);
  height: calc(100vh - 70px);
  float: right;
  display: grid;
  grid-template-rows: 70px 1fr;
}
.main-lista .lista-header {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdad9;
}
.main-lista .lista-header h3 {
  font-size: 32px;
  font-weight: 600;
}
.main-lista .lista-header a {
  color: #000;
}
.main-lista .lista-header .right i {
  font-size: 25px;
}
.main-lista .lista-header .middle .search-form .input-box {
  display: flex;
  width: 600px;
  height: 40px;
  border: 1px solid #dbdad9;
}
.main-lista .lista-header .middle .search-form .input-box input {
  width: 100%;
  border: none;
  background: none;
  padding: 0 15px;
  outline: none;
  font-size: 16px;
}
.main-lista .lista-header .middle .search-form .input-box .search-btn {
  padding: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.main-lista .lista-header .middle .search-form .input-box .search-btn i {
  font-size: 18px;
}
.main-lista .lista-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.main-lista .lista-container table thead {
  background-color: #E8E7E8;
}
.main-lista .lista-container table thead tr th {
  padding: 10px 25px;
  font-size: 20px;
  color: #E73539;
}
.main-lista .lista-container table thead tr .tools {
  text-align: center;
}
.main-lista .lista-container table tbody tr {
  border-bottom: 1px solid #dbdad9;
}
.main-lista .lista-container table tbody tr td {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}
.main-lista .lista-container table tbody tr .tools {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.main-lista .lista-container table tbody tr .tools a {
  color: #424242;
}

.main-novo {
  width: calc(100% - 300px);
  height: calc(100vh - 70px);
  float: right;
  display: grid;
  grid-template-rows: 70px 1fr;
}
.main-novo .lista-header {
  background-color: #FFF;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdad9;
}
.main-novo .lista-header h3 {
  font-size: 32px;
  font-weight: 600;
}
.main-novo .lista-header a {
  color: #000;
}
.main-novo .lista-header i {
  font-size: 25px;
}
.main-novo .cadastra-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-novo .cadastra-container .cadastra-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-novo .cadastra-container .cadastra-form .input-box {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
}
.main-novo .cadastra-container .cadastra-form .input-box input {
  border: none;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0;
  height: 45px;
  padding: 10px;
  outline: none;
  font-size: 20px;
}
.main-novo .cadastra-container .cadastra-form .input-box select {
  background-color: #FFF;
  border: 1px solid #000;
  height: 45px;
  padding: 0 10px;
  outline: none;
  font-size: 20px;
}
.main-novo .cadastra-container .cadastra-form p {
  font-size: 20px;
}
.main-novo .cadastra-container .cadastra-form p a {
  color: #E73539;
  font-weight: 600;
  cursor: pointer;
}
.main-novo .cadastra-container .cadastra-form .cadastrar-btn {
  background-color: #E73539;
  border: none;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #FFF;
  cursor: pointer;
}
.main-novo .cadastra-container .cadastra-form .cadastrar-btn:hover {
  transition: 0.3s;
  box-shadow: inset 500px 0 0 0 #ff4f51;
}
.main-novo.aluno .cadastra-container .cadastra-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-novo.aluno .cadastra-container .cadastra-form .cadastrar-btn {
  grid-column: span 2;
}
.main-novo.aluno .cadastra-container .cadastra-form .cadastrar-btn:hover {
  box-shadow: inset 1200px 0 0 0 #ff4f51;
}

.main-meusalunos {
  height: calc(100vh - 70px);
  width: calc(100% - 300px);
  float: right;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-meusalunos .alunos-container {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
}
.main-meusalunos .alunos-container .page-header {
  border-bottom: 1px solid #dbdad9;
  padding: 25px 50px;
  display: flex;
  align-items: center;
}
.main-meusalunos .alunos-container .page-header .page-title {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}
.main-meusalunos .listaaluno-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.main-meusalunos .listaaluno-container table thead {
  background-color: #E8E7E8;
}
.main-meusalunos .listaaluno-container table thead tr th {
  padding: 10px 25px;
  font-size: 20px;
  color: #E73539;
}
.main-meusalunos .listaaluno-container table thead tr .tools {
  text-align: center;
}
.main-meusalunos .listaaluno-container table tbody tr {
  border-bottom: 1px solid #dbdad9;
}
.main-meusalunos .listaaluno-container table tbody tr td {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}
.main-meusalunos .listaaluno-container table tbody tr .tools {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.main-meusalunos .listaaluno-container table tbody tr .tools a {
  color: #424242;
}

.main-editartreino {
  background-color: blue;
  height: calc(100vh - 70px);
  width: calc(100% - 300px);
  float: right;
}
.main-editartreino .treinos-container {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
}
.main-editartreino .treinos-container .page-header {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdad9;
}
.main-editartreino .treinos-container .page-header h3 {
  font-size: 32px;
  font-weight: 600;
}
.main-editartreino .treinos-container .page-header a {
  color: #000;
}
.main-editartreino .treinos-container .page-header .right i {
  font-size: 25px;
}
.main-editartreino .treinos-container .page-header .middle .search-form .input-box {
  display: flex;
  width: 600px;
  height: 40px;
  border: 1px solid #dbdad9;
}
.main-editartreino .treinos-container .page-header .middle .search-form .input-box input {
  width: 100%;
  border: none;
  background: none;
  padding: 0 15px;
  outline: none;
  font-size: 16px;
}
.main-editartreino .treinos-container .page-header .middle .search-form .input-box .search-btn {
  padding: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.main-editartreino .treinos-container .page-header .middle .search-form .input-box .search-btn i {
  font-size: 18px;
}
.main-editartreino .treinos-container .workout-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 45px;
  padding: 25px 50px;
}
.main-editartreino .treinos-container .workout-container .workout-card {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3px;
  border: 1px solid #b1b1b1;
  padding: 15px;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos .level {
  color: #b1b1b1;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos .btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos .btns .btn {
  width: 100%;
  background: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos .btns .btn.see {
  border: 1px solid #E73539;
  color: #E73539;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos .btns .btn.see:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 350px 0 0 0 #E8E7E8;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos .btns .btn.complete {
  background-color: #E73539;
  color: #FFF;
}
.main-editartreino .treinos-container .workout-container .workout-card .card-infos .btns .btn.complete:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 350px 0 0 0 #ff4f51;
}
.main-editartreino .treinos-container .workout-container .newworkout-container {
  border-radius: 3px;
  border: 1px solid #b1b1b1;
  padding: 15px;
}
.main-editartreino .treinos-container .workout-container .newworkout-container .new-btn {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 15px;
  display: none;
  align-items: center;
  justify-content: center;
}
.main-editartreino .treinos-container .workout-container .newworkout-container .new-btn i {
  font-size: 35px;
}
.main-editartreino .treinos-container .workout-container .newworkout-container .newworkout .workout-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-editartreino .treinos-container .workout-container .newworkout-container .newworkout .workout-form .btn {
  width: 100%;
  background: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #E73539;
  color: #FFF;
  background-color: #E73539;
}
.main-editartreino .treinos-container .workout-container .newworkout-container .newworkout .workout-form .btn:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 350px 0 0 0 #ff4f51;
}
.main-editartreino .treinos-container .workout-container .newworkout-container .newworkout .workout-form select {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  background: none;
  border: none;
  outline: none;
}
.main-editartreino .treinos-container .workout-list {
  background-color: #181b1b;
  position: absolute;
  right: 0;
  height: calc(100vh - 70px);
  width: 0;
  overflow: hidden;
  transition: 0.3s;
}
.main-editartreino .treinos-container .workout-list.open {
  width: 400px;
}
.main-editartreino .treinos-container .workout-list .exercise-card {
  color: #FFF;
  margin: 25px 35px;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-editartreino .treinos-container .workout-list .exercise-card .left {
  display: flex;
  flex-direction: column;
}
.main-editartreino .treinos-container .workout-list .exercise-card .left .exe-name {
  font-size: 20px;
}
.main-editartreino .treinos-container .workout-list .exercise-card .left .exe-reps {
  font-size: 14px;
  font-weight: 100;
  color: #b6b6b6;
}
.main-editartreino .treinos-container .workout-list .exercise-card .right {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-editartreino .treinos-container .workout-list .exercise-card .right a {
  color: #FFF;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form input, .main-editartreino .treinos-container .workout-list .exercise-card .exercise-form select {
  background: none;
  border: none;
  outline: none;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form .left .top .exe-name {
  border-bottom: 1px solid #333333;
  caret-color: #FFF;
  color: #FFF;
  font-size: 20px;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form .left .bottom {
  display: flex;
  padding: 5px 0;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form .left .bottom .input-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form .left .bottom .input-box select {
  color: #FFF;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form .left .bottom .input-box select option {
  color: #000;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form .left .bottom .input-box i {
  font-size: 20px;
}
.main-editartreino .treinos-container .workout-list .exercise-card .exercise-form .right button {
  background-color: #101212;
  border: none;
  border-radius: 3px;
  color: #FFF;
  padding: 10px;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
}
.main-editartreino .treinos-container .workout-list .btn-div {
  padding: 15px 35px 0;
}
.main-editartreino .treinos-container .workout-list .btn-div .btn {
  background-color: #101212;
  border: none;
  color: #FFF;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-editartreino .treinos-container .workout-list .btn-div .btn i {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */